body {
  font-family: Montserrat, sans-serif;
  background-color: #b7cdb7;
  font-weight: 500;
  margin: auto;
  width: 70%;
  text-align: center;
  color: #1f2d1f;
}

h1 {
    font-family: Georgia, serif;
  color: #4f674f;
  text-shadow: 2px 2px #1f2d1f;
  font-size: 450%;
  margin-bottom: 0%;
  margin-top: 10%;
}

h2 {
    font-family: Georgia, serif;
    color: #4f674f;
    font-size: 130%;
    margin-top: 0%;
}

p {
    font-family: Montserrat, sans-serif;
  background-color: #b7cdb7;
  font-weight: 500;
  margin: auto;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  color: #1f2d1f;
}

.img-divisorio {
    width: 90%;
    margin: 0;
    float: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.Step {
    align-items: center;
}

.bottone-download {
    display: inline-block;
    width: 15%;
    height: 18%;
    background-color: #4f674f;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    color: #b7cdb7;
    font-family: Montserrat, sans-serif;
    font-size: 120%
}
.bottone-download:hover {
    background-color: #1f2d1f;
    transform: scale(1.05);
}

.Needfinding {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.img-needfinding {
    width: 40%;
    height: auto;
    float: left;
    margin: 0;
    border-radius: 50%;
}

.Focus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.img-focus {
    width: 40%;
    height: auto;
    float: right;
    margin: 0;
    border-radius: 50%;
}

.Task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.img-task {
    width: 40%;
    height: auto;
    float: left;
    margin: 0;
    border-radius: 50%;
}

.Valeu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.img-valeu {
    width: 40%;
    height: auto;
    float: right;
    margin: 0;
    border-radius: 50%;
}

.Usability {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.img-usability {
    width: 40%;
    height: auto;
    float: left;
    margin: 0;
    border-radius: 50%;
}

.Screenshot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.screen {
    width: 25%;
    height: auto;
    margin: 5%;
    border-radius: 12%;
}

.Authors {
    margin-top: 0%;
}

.Authors1 {
    display: flex;
    justify-content: center;
    gap: 10%
}
 
.Authors2 {
    display: flex;
    justify-content: center;
    gap: 10%
}

.author {
    text-align: center;
}

.author img{
    width: 100%;
    height: auto;
}

.author img:hover {
    animation: spin 0.3s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.author figcaption {
    font-weight: bold;
}
